@import 'foundation';
@import 'foundation_and_overrides';
body {
    background: white;
    font-family: 'Arvo', serif;
}
h1,h2,h3,h4,h5,h6{
        font-family: 'PT Sans',sans-serif;
}

header {
    &:before {
        background: #23D7DB;
        content: "";
        display: block;
        height: 10px;
    }
    .contain-to-grid {
        background: white;
    }
    nav {
        text-transform: uppercase;
    }
    .top-bar {
        height: 81px;
        background: white;
         .top-bar-section {
             
             li:not(.has-form) a:not(.button) {
             background: white;
             color: #ed6555;
             font-size: 1.4125rem;
         }

             ul {
                 background: white;
                 margin-top: 17px;
                 }
             }
         
         .name h1 a {
             color: #ed6555;
             font-size: 2rem;
             margin-top: 19px;
         }

         .toggle-topbar.menu-icon a{
             color: blue;
         }
         .toggle-topbar.menu-icon a::after {
             box-shadow: 0 10px 0 1px blue,0 16px 0 1px blue ,0 22px 0 1px blue;
         }
    }

    .right li {
        
        
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-left: 17px;
        border: 2px solid transparent;
    }
    .right li:hover{
        }

    li a {
        font-family: 'PT Sans',sans-serif !important;
        text-transform: uppercase !important;
    }
    .right li:hover {
        border: 2px solid #ed6555;
        background: white;
    }
    


    }

.content {
    h1 {
        color: #333;
        font-size: em-calc(50);
        font-style: italic;
        font-weight: bold;
        margin: em-calc(15) 0 em-calc(8) 0;
        text-transform: lowercase;
    }

    p {
        font-size: em-calc(20);
        font-weight: normal;
    }
    .call-to-action {
        letter-spacing: -1.5px;
        
        a {
            color: #db5653;
            text-transform: uppercase;
        }
    }
}

footer {
    background: #23D7DB;
    color: white;
    padding: 2em 0;
    text-align: center;
    text-transform: lowercase;
    font-size: 1.4em;

    a {
        color: white;
        font-size: 2em;
        &:hover { color: #ed6555;}
    }

    ul { list-style: none; }

    li { display: inline-block; }

    .social a {
        font-size: em-calc(48);
        margin: 0 em-calc(6);

        &:hover { color: #fff; }
    }
.banner
    .fi-social-behance { color: #0e87f7; }
    .fi-social-facebook { color: #4862a3; }
    .fi-social-github { color: #171515; }
    .fi-social-github { color: #999; }
    .fi-social-lastfm { color: #ca2518; }
    .fi-social-linkedin { color: #0077b5; }
    .fi-social-twitter { color: #00acee; }
    .fi-social-instagram { color: #ab8572; }


    .navigation {
        ul { padding-bottom: em-calc(10); }

        li:after {
            color: #ed6555;
            content: "•";
            font-size: em-calc(34);
            padding: 0 em-calc(15);
        }
        li:last-child:after { content: ""; padding: 0; }
    }

    p {
        font-size: em-calc(14);
        margin-bottom: em-calc(0);
    }
}


/* Some CSS Transitions */

@-webkit-keyframes thumb {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(0.9); }
    100% { -webkit-transform: scale(1); }
}

.heartbeat:hover
{
    -webkit-animation-name: thumb;
    -webkit-animation-duration: 200ms;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: linear;
}
