// Helper function
@mixin clearfix() {
    *zoom:1;
    &:before, &:after { content: " "; display: table; }
    &:after { clear: both; }
}

.index .main {
 /*   margin-bottom: 33px;*/
}
.full-width {
    display: block;
    width: auto;
    max-width: 1430px;
    background-position: center center !important; 
    margin: 0 auto;
}


.banner li {
    .banner-1 {
        display: block;
        max-width: 100%;
        height: 450px;
        background: url('../images/banners/banner_01.jpeg') no-repeat;
    }
    .banner-2 {
        display: block;
        max-width: 100%;
        height: 450px;
        background: url('../images/banners/banner_01.jpeg') no-repeat;
    }
    .banner-caption {
        position: absolute;
        margin-top: 140px;
        background: rgba(0,0,0,.6);
        border-radius: 5px;
        width: 500px;
        padding: 20px 20px;
    }
    h1 {
        color: white;
    }
    h2 {
        color: #db5653;
        font-weight: 700;
    }
    h3{
        color: #db5653;
        letter-spacing: -1.4px;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }
    p {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 30px;
        color: #f1f0ea;
    }
}

.index .content {
   p strong { text-transform: lowercase; }
    .intro {
        border-bottom: 1px dotted #ccc;
        margin-bottom: em-calc(35);
    }
    .intro * {
        text-align: center;
    }

    .who-am-i {
        .short-bio{ 
            margin-bottom: em-calc(34); 
            margin-top: em-calc(24);
            text-align: center;

            h4, h3, h2 {
                text-transform: uppercase;
            }

            h3 {
                color: #352f59;
            }
            
            p {
                color: #555;
                font-size: 1.3em;
            }

        }

            .right-column {
                margin-top: em-calc(24);
                h4 {
                    margin-top: -9px;
                    text-transform: uppercase;
                    color: #352f59
                }
                h5 {
                    color: #e64d39
                }
                p {
                    font-size: em-calc(14);
                    color: #555;
                    margin-top: -5px;
                }

                .featured-blog {
                    line-height: 10%;
                }
            }
        }

        #what-i-do {
            list-style: none; 
            @include clearfix();

            li {
                height: em-calc(200);
                width: em-calc(300);
                border: 3px double #eee;
                border-radius: 6px;
                padding-top: em-calc(25);

                float: left;
                margin-right: em-calc(35);
                &:last-child { margin: 0; }

                text-align: center;

                img {
                    display: block;
                    margin: auto;
                }

                strong {
                    display: block;
                    margin-top: em-calc(10);
                    text-transform: lowercase;
                }
            }
        }
    }

    .work-and-reading {
        margin-top: em-calc(14);

        p { border-bottom: 1px dotted #ccc; }

        .recent-work .columns {}

        .currently-reading {
            .book {
                @include clearfix();
                line-height: em-calc(20);
                padding-bottom: em-calc(6);

                img { float: left; padding-right: em-calc(10); }
                span { display: block; }

                &:last-child { padding: 0; }
            }
        }
    }

.about-us-banner, .our-work-banner {
    height: 450px;
    @media only screen and (max-width: 40em){
            background-position: 10% 0;
        }
        .overlay{
            width: auto !important;
            position: relative;
            top: 77.7%; 
            margin-left: 15px;

            h1{
                background: rgba(0,0,0,0.7);
                background-position: contain;
                color: white;
                font-size: 1.4em;
                margin-left: -15px;
                padding: 20px;

            }
        }
    }

.about-us-banner {
    width: auto;
    background: url("../images/966-about-us-header.jpg") no-repeat;
    margin-top: -3px;
}



.about-us-header {
    padding-bottom: 1em;
    color: #555;
    p {
        font-size: 1.3em;
    }
    h1 {
        color: inherit;
        font-size: 4em;
        letter-spacing: -2.6px;
    }
    margin-top: 2em;
    border-bottom: 1px black dotted;
    img { 
        
        margin-bottom: 2em;
    }

}

.about-us-body {
    margin-top: 1.5em ;
    color: #555;
    margin-bottom: 2em;
    p {
        font-size: 1.15em;
        letter-spacing: -.1px;
        line-height: 1.8; 
    }
    h3 {
        font-size: 32px;
    }
    h4 {
        font-size: 30px;
    }
    h3 ,h4 {
        letter-spacing: -1.1px;
        color: inherit;
    }

}

.portfolio-logos {
  border-top: 1px dotted black;
  padding: 30px 0px;
  h2 {
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }

  .albaik, .hunger-station, .haweee, .namaa {
  img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    }  
  height: 230px;
  }
}


.desaturate {
  -webkit-filter: grayscale(1);
  filter: grayscale(100%);
  opacity: .6;
  
          }
.desaturate:hover{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}
/* Coming Soon Page CSS */
.comingsoon {
    background: #f1f0ea;
}

.comingsoon img{
    width: 600px;
    display: block;
    height: auto;
    margin: auto;
    margin-top: 3em;
}
.comingsoon h1{
    display: block;
    float: middle;
    text-align: center;
    font-size: 6em;
    color: #49445f;
}



.circle {
    border-radius: 50%; 
    width: 200px;
    height: 200px; 
    margin: 0 auto;
    margin-bottom: 20px;
    background: url('http://placehold.it/200x200.jpg');
        }

.value-prop {
    h3 {
        text-align: center;
    }
    
    p {
        text-align: center;
        font-size: 16px;
    }

    .details-matter .circle {
        background: url('../images/details-matter.jpg');
    }
    .robust-software .circle {
        background: url('../images/robust-software.jpg');
        background-position: 45% 0%;
    }

    .mobile-first .circle {
        background: url('../images/mobile-first.png') no-repeat;
    }


}

/* Home banner captions */
.home-banner {
  position: absolute;
  h1 {
     position: absolute; 
     bottom: 20px; 
     left: 0px; 
     width: 100%; 
     font-size: 2.0em;
  }
  h1 span {
    color: white; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.9);
    margin-bottom: 10px;
    padding: 10px 10px 10px 30px; 
  }
}

