.our-work-banner {
    background: url("../images/products-banner.jpg") no-repeat;
    h1 {
        color: black;
        text-align: center;
    }

}

.our-work-header {
    h2 {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.product {
    height: 450px;

    .currrva {
        background: url("../images/products/currrva_bg.jpg") no-repeat;
        height: 450px;
        background-position: 0% 40%;

        .icon {
            margin: 40px 0px;
            img {
                margin-top: 30px;
                margin-bottom: 20px;
                }
            h3 {
                color: #fff;
            }
            p {
                color: #eee;
            }
        }
        .background {
            img {
                float: left;
                @media only screen and (max-width: 40em) { 
                    display:none; 
                }
            }
            @media only screen and (min-width: 40.063em) and (max-width: 64em) {
   img { float: right;}     

    } 
        }
    }
}


