%footer
  .row
    .large-12.columns
      %nav.social
        %ul
          %li
            %a{ href: "https://twitter.com/966io/", class: "fi-social-twitter", alt: "Follow us @966io on Twitter" }
          %li
            %a{ href: "https://facebook.com/966io", class: "fi-social-facebook", alt: "Add us Facebook" }
      %nav.navigation
        %ul
          %li
            %a{ href: "/about-us" } About Us 
          %li
            %a{ href: "/contact-us" } Contact Us 
          %li
            %a{ href: "/colophon" } Colophon
          %li
            %a{ href: "/rss.xml" } RSS
      %p &copy; 2014
      %p made in jeddah
