%footer
  .row
    .small-12.large-12.columns
      %nav.social
        %ul
          %li.heartbeat
            %a{ href: "https://twitter.com/studio966/", class: "fi-social-twitter", alt: "Follow us @Studio966 on Twitter" }
          %li.heartbeat
            %a{ href: "https://facebook.com/studio966", class: "fi-social-facebook", alt: "Add us Facebook" }
      %nav.navigation.small-12.columns
        %ul
          %li
            %a{ href: "/services" } Services 
          %li
            %a{ href: "/products" } Products 
          %li
            %a{ href: "/colophon" } Colophon
          %li
            %a{ href: "/rss.xml" } RSS
      %p &copy; 2014
      %p made in jeddah
