%footer
  .row
    .large-12.columns
      %nav.social
        %ul
          %li
            %a{ href: "https://twitter.com/ubax/", class: "fi-social-twitter", alt: "Follow me @ubax on Twitter" }
          %li
            %a{ href: "https://facebook.com/usmanbashir", class: "fi-social-facebook", alt: "Add me Facebook" }
          %li
            %a{ href: "https://github.com/usmanbashir/", class: "fi-social-github", alt: "Follow me on Github" }
          %li
            %a{ href: "http://www.behance.net/usman", class: "fi-social-behance", alt: "Follow me on Behance" }
          %li
            %a{ href: "http://www.linkedin.com/in/usmanbashir", class: "fi-social-linkedin", alt: "Add me on LinkedIn" }
          %li
            %a{ href: "http://www.last.fm/user/usmanx", class: "fi-social-lastfm", alt: "Add me on Last.fm" }
      %nav.navigation
        %ul
          %li
            %a{ href: "/about-me" } About Me
          %li
            %a{ href: "/contact-me" } Contact Me
          %li
            %a{ href: "/colophon" } Colophon
          %li
            %a{ href: "/rss.xml" } RSS
      %p &copy; 2014
      %p made in jeddah
