%header
  .row
    .large-4.columns
      %h2
        = link_to "966.io", "/", class: "url fn"
    .large-8.columns
      %nav.right
        %ul
          %li
            = link_to "About Us", "/about-us"
          %li
            = link_to "Work", "/work"
          %li
            = link_to "Contact Us", "/contact-us"
