/[if lt IE 9 ]
  .unsupported-browser
    .container.clearfix
      %h5 Please note, this website does not support Internet Explorer version 8 and lower.
      %p
        We recommend upgrading to the latest
        %a{ href: "http://ie.microsoft.com/" } Internet Explorer,
        %a{ href: "http://mozilla.org/firefox/" } Firefox, or
        %a{ href: "http://chrome.google.com" } Google Chrome.
      %p
        If you are using IE 9 or later, make sure you
        %a{ href: "http://windows.microsoft.com/en-US/windows7/webpages-look-incorrect-in-Internet-Explorer" } turn off "Compatibility View".
