---
title: 966.io Studios | We Are The Best! 
---
.p-header-container.row
  .portfolio-banner.show-for-medium-up.large-12.columns
    .orbit-container
      %ul.orbit{:data => {:orbit=> "animation_speed: 500; pause_on_hover: true; navigation_arrows: true;"}}
        %li
          = image_tag 'banners/banner-currrva-1.jpg'
        %li
          = image_tag 'banners/banner-currrva-2.jpg'
  .portfolio-header.large-12.columns
    %h1
      We just redefined your winning experience.

.portfolio-content.row
  .our-responsibilities.small-12.large-3.columns
    %ul
      %li 
        %h4
          Our Responsibilities:
      %li
        User Research
      %li
        User Experience
      %li
        User Interface Design
      %li
        Mobile Development
      %li
        Growth
  .case-study.small-12.large-6.columns
    %p
      This is another in-house app that we created. We love playing video games. More importantly, we love to win. Currrva is a platform designed to help you keep your scores when competing with your friends. When a player wins, he or she raises a claim and the claim must be approved by the opponent. The app can then record this claim and use it, along with others in the tally, to create some interesting graphs and diagrams about both players’ progress in the game.

    %p
      The name Currrva comes from the Italian word curva, which is the curved hotspot for fans in a soccer stadium on either ends of the playing field. Currrva, as an MVP, currently supports soccer as a flagship game. We will then expand it to accommodate various sports games, such as the Madden franchise, NBA 2k franchise, NHL franchise and then possibly some fighting games, and casual racing games. 

    %p
      We have gone far into development for this app and we will be ready to launch for beta soon. 



  .client-info.small-12.large-3.show-for-medium-up.columns
    .row
      .large-12.columns
        = image_tag 'logos/currrva-logo.png'
    .row
      .large-12.columns
        %ul
          %li
            %i
              .fi-link
          %li
            - link_to 'http://www.currrva.com' do
              = 'Visit the Site'
