---
title: About Me
---
.row.content
  .large-10.large-centered.columns
    %h1 A little bit about me
    %p I’m Usman, a 20-something, full-stack software developer and a budding entrepreneur based in Jeddah, Saudi Arabia. And I've been working professionally, for the better part of a decade, though I've been writing software in one form or another since I was 13 years old.
    %p I enjoy dabbling in a bit of everything, be it development, user experience, interface design or hardware hacking; learning and mastering as I go. I’m also passionate about building projects that actually help people and make their lives better.
    %p I specialize in web development and I'm experienced in building and maintaining all aspects of a complex web application, including provisioning and maintaining servers, running applications, administering databases, writing back-end and front-end code, all in all making the applications come to life.
    %p These days, I primarily work with Ruby and friends, though in the past I've worked on projects that involved Microsoft .NET and PHP. I also enjoy working with open source tools and I take pride in making sure my code not only works using TDD but is also easy to read and elegant.
    %p
      Outside of work, I spend my time trying to master playing the acoustic guitar, writing a novel, 
      %a{ href: "http://www.imdb.com/user/ur26544913/" } watching anime and tv shows,
      learning Japanese,
      %a{ href: "https://www.goodreads.com/user/show/5638136-usman-bashir" } reading books,
      especially about technical subjects,
      %a{ href: "http://www.last.fm/user/usmanx" } listening to divers and obscure music
      (gotta rack up those hipster points somehow, don’t I?), thinking about meaning of life stuff, generally geeking out and just being awesome.
    %p Though, for whatever reason, if you already think that I’m awesome and you wanna contact me, then please don’t hesitate, I love meeting new folks. The contact details are on the contact page. (Diabolical, isn't it?)
    %p
      While you are here, feel free to
      %a{ href: "http://usmanbashir.com/feed"} subscribe to my RSS feed,
      cause surely I’m bound to say something worthwhile
      %em eventually,
      %strong I hope.
    %p
      %em
        Thanks for dropping by and Don't Forget To Be Awesome.
      :plain
        :)
