---
title: About Us
---
.row.about-us-header
  .small-12.large-12.large-centered.columns
    %h1
      We solve problems by design.
    %img(src="http://placehold.it/940x366")
    %p
      We conduct research, define strategy, and design brands and interfaces that meet our clients’ goals. Every project is different. That’s why we enjoy client services so much. Clients benefit from our years of experience, and we never stop learning. To keep everything organized, we offer a proven—yet flexible—process that allows us to work collaboratively and efficiently while focusing on your unique needs.

.row.about-us
  .small-12.large-12.large-centered.columns
    .small-12.large-6.columns
      %h3
        “EASY” STARTS WITH A GOOD HARD LOOK
      %p
        A swift, pleasant project and a successful outcome depend on a clear shared understanding of the problem. We offer an external perspective that can reveal both opportunities and risks.

      %h4
        Research
      %p
        We need to understand the problem before we can begin to think about solutions. We work to build a strong shared understanding with our client of the project goals, business context, audience needs, requirements, and constraints.

        Sufficient attention here saves countless hours throughout the rest of the project.

        This work might include stakeholder and user interviews, usability testing, comparative analysis, brand assessment, content audits, technical requirements gathering, and analysis of existing research and documentation.
      %h4
        Strategy
      %p
        Strategic thinking simply means identifying the best way to use available resources to get to the place we want to be.

        Our specific recommendations and the manner of documentation meet the particular needs of each project and organization.

        We do take on separate Research & Strategy projects, often as a prelude to scoping larger, more complex design and development work.

    .small-12.large-6.columns
      %h3 AND SOLID THINKING LEADS TO SUCCESS
      %p We sketch, iterate, and continually check design solutions against the agreed-upon goals and priorities. Frequent client communication and honest critique are essential.
      %h4
        Concept
      %p
        Based on our understanding of the business goals and user needs, we develop high-level concepts for the structure, interaction, and visual interface.

        There are always many potential paths to success. The most crucial part of the concept phase is killing great ideas that don’t quite work.
      %h4
        Interface Design
      %p
        We’ve worked together to define the conceptual framework and look-and-feel—and possibly a whole new brand. Now we dig into the details of the structure and interaction of the website or application. This includes consideration of the interface language and content as well.

        An interactive design requires us to design interactively. The technology strategy we established at the beginning guides our approach to designing in code.
      %h4
        Documentation and Support
      %p
        We aren’t done when we’ve checked off all our deliverables. We’re done when we’ve set our clients up for success. We begin each project with the end in mind and make sure our clients know what to expect at each step of the way.
