- wrap_layout :layout do 
  .blog-main
    .row.full-width
      .large-8.columns.large-centered.post-top
        .back-to-blog
          = link_to 'Back to Blog', '/blog' 
        .blog-date-author
          =lorem.date
          by Rami Taibah in Testing
    .row.large-12.large-centered.post-thumbnail
      %img(src="/images/middleman.png")
    .row.article-title
      .large-8.columns.large-centered
        %article
          %h1
            = current_page.data.title
          = yield 

