---
title: Colophon - Usman Bashir
---
.row.content
  .large-10.large-centered.columns
    %h1 Colophon
    %ul
      %li 
        Made on a 
        %a{href: "http://www.vagrantup.com/"} Vagrant
        Ubuntu VM
      %li 
        Coded in 
        %a{href: "http://www.vim.org/"} VIM
        (seriously, every last bit)
      %li 
        Written using 
        %a{href: "http://www.haml.info/"} HAML
        ,
        %a{href: "http://sass-lang.com/"} SCSS 
        ,
        %a{href: "http://daringfireball.net/projects/markdown/"} Markdown
        %br
        (Oh, how we love our markdown.)
      %li 
        Fonts from 
        %a{href: "https://www.google.com/fonts"} Google 
      %li Designed in a Web Browser
      %li 
        Powered by
        %a{href: "http://middlemanapp.com/"} Middleman
      %li 
        Hosted on       
        %a{href: "https://www.heroku.com/"} Heroku 
      %li 
        Built using 
        %a{href: "https://foundation.zurb.com/"} Foundation
      %li 
        %a{href: "https://www.wufoo.com/"} Wufoo
        makes our forms
      %li 
        %a{href: "https://www.mailchimp.com/"} Mailchimp
        sends out our newsletters
      %li 
        %a{href: "https://www.mapbox.com/"} Mapbox 
        helped us create our spanking shiny map

