---
title: Colophon - Usman Bashir
---
.row.content
  .large-10.large-centered.columns
    %h1 Colophon
    %p
      Hmm, for the time being, let's just go with a simple list.
    %ul
      %li Made on a Vagrant Ubuntu VM
      %li Coded in VIM (seriously, every last bit)
      %li
        Written using HAML, SCSS and Markdown
        %br
        (Oh, how I love me some markdown.)
      %li Fonts from Google
      %li Designed in a Web Browser
      %li Powered by Middleman
      %li Hosted on Heroku
