---
title: Contact Me - Usman Bashir
---
.row.content
  .large-10.large-centered.columns
    %h1
      Get in touch with me
    %p
      So, you've got a cool project in mind and feel I can help you with it?
      Then don't hesitate, I would love to hear about it and help you.
    %p
      Just fill out my 
      %a{ href: "https://docs.google.com/spreadsheet/viewform?usp=drive_web&formkey=dGc5MXNLM2xsSDNGbDE2ODFXZ2hiQVE6MQ" } diabolically long form 
      or send me an email on 
      %a{ href: "mailto:me@usmanbashir.com" } me@usmanbashir.com 
      and I'll reply back as soon as possible, though it usually takes about 1-3 business days.
    %p
      I'm always interested in connecting with like minded people or opportunities to work on cool projects.
      So, please feel free to ping me on the interwebs and say hi on
      %a{ href: "https://twitter.com/ubax" } Twitter
      or any of the other networks listed below.
