---
title: Hire Us - Studio 966
---
.main
  .hire.row.content
    .large-10.large-centered.columns
      %h1
        You should hire us!
      %p
        So, you've got a cool project in mind and don't know where to start? Drop us a line!
      .hire-us-form.large-centered.small-centered.columns
        :plain
              <form id="form1" name="form1" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
                  action="https://966.wufoo.com/forms/z1ajuavm1wu3edy/#public">
             <ul>

               <li id="foli1" class="notranslate      ">
                 <label class="desc" id="title1" for="Field1">
                   Your Name
                   <span id="req_1" class="req">*</span>
                 </label>
                 <div>
                   <input id="Field1" name="Field1" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup="" required />
                 </div>
               </li>

               <li id="foli2" class="notranslate      ">
                 <label class="desc" id="title2" for="Field2">
                   Email
                   <span id="req_2" class="req">*</span>
                 </label>
                 <div>
                   <input id="Field2" name="Field2" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="2" required /> 
                 </div>
               </li>

               <li id="foli3" class="notranslate">
                 <label class="desc" id="title3" for="Field3">
                   Tell us about your project
                   <span id="req_3" class="req">*</span>
                 </label>
                 <div>
                   <textarea id="Field3" name="Field3" class="field textarea medium" spellcheck="true" rows="10" cols="50" tabindex="3" onkeyup=""required  ></textarea>

                 </div>
               </li>

               <li id="foli4" class="notranslate       ">
                 <label class="desc" id="title4" for="Field4">
                   What is your budget range?
                   <span id="req_4" class="req">*</span>
                 </label>
                 <div>
                   <select id="Field4" name="Field4" class="field select medium" tabindex="4" > 
                     <option value="I am not sure" selected="selected">
                       I am not sure
                     </option>
                     <option value="Under SAR 50,000" >
                       Under SAR 50,000
                     </option>
                     <option value="Between SAR 50,000 and SAR 100,000" >
                       Between SAR 50,000 and SAR 100,000
                     </option>
                     <option value="Over SAR 100,000" >
                       Over SAR 100,000
                     </option>
                   </select>
                 </div>
               </li>

               <li id="foli6" class="notranslate      ">
                 <label class="desc" id="title6" for="Field6">
                   When would like to get started?
                 </label>
                 <div>
                   <input id="Field6" name="Field6" type="text" class="field text medium" value="" maxlength="255" tabindex="5" onkeyup="" />
                 </div>
               </li>

               <li id="foli7" class="notranslate      ">
                 <label class="desc" id="title7" for="Field7">
                   How did you hear about us?
                 </label>
                 <div>
                   <input id="Field7" name="Field7" type="text" class="field text medium" value="" maxlength="255" tabindex="6" onkeyup="" />
                 </div>
               </li>

               <li class="buttons ">
                 <div>
                   <input id="saveForm" name="saveForm" class="button btTxt submit" type="submit" value="Submit"/>
                 </div>
               </li>

               <li class="hide">
                 <label for="comment">
                   Do Not Fill This Out
                 </label>
                 <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                 <input type="hidden" id="idstamp" name="idstamp" value="3MdjvEW98c7CQZv/BEI9+6AhbHYIfAtamEXqkBARYF0=" />
               </li>
             </ul>
           </form> 

            
