---
title: Studio 966 | Beam Me Up, Scotty 
---
.main
  .show-for-medium-up.full-width.banner
    .orbit-container
      %ul.orbit{:data => {:orbit=> ""}}
        %li
          .banner-1
            .row
              .large-6.column
              .small-12.large-6.column
                .banner-caption
                  %h2
                    Currrva Scoreboard App
                  %p
                    We  worked closely with the Currrva team developing an app that enables soccer video gamers to track, visualize, and share their results.
                  %h3
                    Learn More
  .row.content
    .large-12.columns
      .row
        .large-12.small-centered.small-8.columns.who-am-i
          .row
            .large-12.small-12.columns.short-bio
              %h3
                %strong
                  We are a interaction design studio 
          .row.value-prop    
            .large-4.small-12.columns.details-matter
              .circle
              %h3
                Details Matter 
              %p
                Attention to detail is the name of the game. We are aware of the context and understand the tradeoffs. Studio 966 gets these details right.
            .large-4.small-12.columns.robust-software
              .circle
              %h3
                Robust Software 
              %p
                Polished applications are developed through iterations. Each step improves quality, performance, and usability.

            .large-4.small-12.columns.mobile-first
              .circle
              %h3
                Mobile First 
              %p
                We build usable, performant apps - whether for iPad, iPhone, Android, or the Web.


