---
title: 966.io Studios | We Are The Best! 
---
.full-width.banner
  .orbit-container
    %ul.orbit{:data => {:orbit=> ""}}
      %li
        .banner-1
          .row
            .large-6.column
            .large-6.column
              .banner-caption
                %h2
                  Currrva Scoreboard App
                %p
                  We  worked closely with the Currrva team developing an app that enables soccer video gamers to track, visualize, and share their results.
                %h3
                  Learn More
      %li
        .banner-2
          .row
            .large-6.column
            .large-6.column
              .banner-caption
                %h2
                  Nahdi Fighting Diabeties 
                %p
                  We  worked closely with the Currrva team developing an app that enables soccer video gamers to track, visualize, and share their results.
                %h3
                  Learn More

.row.content
  .large-12.columns
    .row
      .intro
        %h1
          Hello, we are 966.io; We build products
        %p
          And, we can help you with your next project.
    .row
      .large-12.columns.who-am-i
        .row.short-bio
          .large-4.columns
            %p
              We are a boutique design studio based in Jeddah, Saudi Arabia.
          .large-4.columns
            %p
              We strive to create better experiences for real people. We are passionate about design, aware of context, and focus on results. 
          .large-4.columns
            %p
              While you're here, checkout some of
              = link_to "our work", "/work"
              , learn more 
              = link_to "about us", "/about-us"
              and see what
              = link_to "we are up to.", "/blog"
        .row
          .large-12.columns
            %ul#what-i-do
              .large-4.columns
                %li.web-applications-and-corporate-sites
                  %img{ src: "images/icons/web_applications_and_corporate_sites.png", height: "110px" }
                  %strong
                    Web Applications  
              .large-4.columns
                %li.mobile-app-development
                  %img{ src: "images/icons/mobile_app.png", height: "110px" }
                  %strong
                    Mobile Apps
              .large-4.columns
                %li.project-management
                  %img{ src: "images/icons/project_management.png", height: "110px" }
                  %strong
                    Project Management
