---
title: 966.io Studios | We Are The Best! 
---
.row.content
  .large-12.columns
    .row
      .large-12.large-centered.columns.orbit-container
        %ul.orbit{:data => {:orbit=> ""}}
          %li
            %img{ src:"images/banners/currrva_01.jpeg" }
          %li
            %img{ src:"images/banners/currrva_01.jpeg" }

        .intro
          %h1
            Hello, we are 966.io; We build products
          %p
            And, we can help you with your next project.
    .row
      .large-12.columns.who-am-i
        .row.short-bio
          .large-4.columns
            %p
              We are a boutique design studio based in Jeddah, Saudi Arabia.
          .large-4.columns
            %p
              We strive to create better experiences for real people. We are passionate about design, aware of context, and focus on results. 
          .large-4.columns
            %p
              While you're here, checkout some of
              = link_to "our work", "/work"
              , learn more 
              = link_to "about us", "/about-us"
              and see what
              = link_to "we are up to.", "/blog"
        .row
          .large-12.columns
            %ul#what-i-do
              %li.web-applications-and-corporate-sites
                %img{ src: "images/icons/web_applications_and_corporate_sites.png", height: "110px" }
                %strong
                  Web Applications  
              %li.mobile-app-development
                %img{ src: "images/icons/mobile_app.png", height: "110px" }
                %strong
                  Mobile Apps
              %li.project-management
                %img{ src: "images/icons/project_management.png", height: "110px" }
                %strong
                  Project Management
    .row.work-and-reading
      .large-12.columns.recent-work
        %p
          %strong Our Work
        .row
          .large-4.columns
            %a{ href: "https://www.behance.net/gallery/Nahdi-Amal-WIP/11836419" }
              %img{ src: "images/work/projects/nahdi-amal.png", alt: "Nahdi Amal", width: "202px" }
          .large-4.columns
            %a{ href: "https://www.behance.net/gallery/Nahdi-Full-of-Hope/8947215" }
              %img{ src: "images/work/projects/nahdi.png", alt: "Nahdi - Full of Hope", width: "202px" }
          .large-4.columns
            %a{ href: "https://www.behance.net/gallery/3N-Jeddah/3609895" }
              %img{ src: "images/work/projects/3n-jeddah.png", alt: "3N Jeddah", width: "202px" }
       
