---
title: 966.io Studios | Beam Me Up, Scotty 
---
.show-for-large-up.full-width.banner
  .orbit-container
    %ul.orbit{:data => {:orbit=> ""}}
      %li
        .banner-1
          .row
            .large-6.column
            .small-12.large-6.column
              .banner-caption
                %h2
                  Currrva Scoreboard App
                %p
                  We  worked closely with the Currrva team developing an app that enables soccer video gamers to track, visualize, and share their results.
                %h3
                  Learn More
      %li
        .banner-2
          .row
            .large-6.column
            .large-6.column
              .banner-caption
                %h2
                  Nahdi Fighting Diabeties 
                %p
                  We  worked closely with the Currrva team developing an app that enables soccer video gamers to track, visualize, and share their results.
                %h3
                  Learn More

.row.content
  .large-12.columns
    .row
      .large-12.columns.who-am-i
        .row.short-bio
          .large-6.columns
            %h4
              %strong
                We are a interaction design studio 
            %p
              We strive to create better experiences for real people. We are passionate about design, aware of context, and focused on results. 
            .call-to-action
              %h5
                %strong
                  %a{:href => 'contact.html'}>Yes, You Should Probably Hire Us.
