---
title: Usman Bashir, your galactic alien friend!
---
.row.content
  .large-12.columns
    .row
      .large-10.large-centered.columns
        .intro
          %h1
            Hello, I'm Usman. I build products.
          %p
            And, I can help you with your next project.
    .row
      .large-12.columns.who-am-i
        .row.short-bio
          .large-4.columns
            %p
              I'm a full-stack software developer, a budding UX designer and an entrepreneur based in Saudi Arabia.
          .large-4.columns
            %p
              I've been programming since I was 13 years old &amp; creating meaningful user experiences for over a decade.
          .large-4.columns
            %p
              While you're here, checkout some of
              = link_to "my work", "/work"
              , learn more 
              = link_to "about me", "/about-me"
              and see what
              = link_to "I'm up to.", "/blog"
        .row
          .large-12.columns
            %ul#what-i-do
              %li.web-applications-and-corporate-sites
                %img{ src: "images/icons/web_applications_and_corporate_sites.png", height: "110px" }
                %strong
                  Web Applications &amp; Corporate Sites
              %li.mobile-app-development
                %img{ src: "images/icons/mobile_app.png", height: "110px" }
                %strong
                  Mobile Apps
              %li.project-management
                %img{ src: "images/icons/project_management.png", height: "110px" }
                %strong
                  Project Management
    .row.work-and-reading
      .large-8.columns.recent-work
        %p
          %strong Recent Work
        .row
          .large-4.columns
            %a{ href: "https://www.behance.net/gallery/Nahdi-Amal-WIP/11836419" }
              %img{ src: "images/work/projects/nahdi-amal.png", alt: "Nahdi Amal", width: "202px" }
          .large-4.columns
            %a{ href: "https://www.behance.net/gallery/Nahdi-Full-of-Hope/8947215" }
              %img{ src: "images/work/projects/nahdi.png", alt: "Nahdi - Full of Hope", width: "202px" }
          .large-4.columns
            %a{ href: "https://www.behance.net/gallery/3N-Jeddah/3609895" }
              %img{ src: "images/work/projects/3n-jeddah.png", alt: "3N Jeddah", width: "202px" }
      .large-4.columns.currently-reading
        %p
          %strong Currently Reading
        .book
          %a{ href: "https://www.goodreads.com/book/show/5470.1984" }
            %img{ src: "https://d202m5krfqbpi5.cloudfront.net/books/1348990566l/5470.jpg", alt: "Nineteen Eighty-Four", width: "56px" }
            Nineteen Eighty-Four
          %span by George Orwell
        .book
          %a{ href: "https://www.goodreads.com/book/show/10127019-the-lean-startup" }
            %img{ src: "https://d202m5krfqbpi5.cloudfront.net/books/1333576876l/10127019.jpg", alt: "The Lean Startup: How Today's Entrepreneurs Use Continuous Innovation to Create Radically Successful Businesses", width: "56px" }
            The Lean Startup
          %span by Eric Ries
