---
title: Our Work - 966 Studios
---
.row.full-width.our-work-banner.banner
  .small-12.large-12.columns
    %h1.title
      We scratch our own itch. 
.row.our-work-header
  .small-12.large-12.large-centered.columns
    %h2 
      We love to solve problems especially ones we face on a daily basis. To date, we announced one glorious mobile application, and more to follow. Stay tuned!


