---
title: Our Products - 966 Studios
---
:plain 
  <link href="stylesheets/products-banner.css" media="screen" rel="stylesheet" type="text/css" />


.row.full-width.full-banner
  .full-width.postheader
    .banner.small-12.large-12.columns
      :plain
          <h1 class="article_title">We Scratch Our Own Itch</h1>
  .row.banner-text
    %h2.our-work-header.large-8.columns.large-centered.columns
      We love to solve problems especially ones we face on a daily basis. To date, we announced one glorious mobile application, and more to follow. Stay tuned!

.row.full-width.product

  .currrva
    .ribbon-green
      %p
        coming soon
    .columns.large-offset-2.medium-offset-2.medium-6.large-5.small-12
      .row.small-12.icon
        %img(src="images/products/currrva_logo.png")
        %h3
          Currrva Scoreboard
        %p
          Currrva allows players of soccer video games (e.g. EA FIFA franchise) to record their results against their friends. From the games played and scorelines, Currrva provides visualizations and graphs for the data provided including: playing form, goals conceded, clean sheets, unbeaten runs.
    .columns.large-4.medium-4.background.small-8.end.hide-for-small-only
      %img(src="images/products/currrva_phone.png")
