---
title: Our Work - 966 Studios
---
:plain 
  <link href="stylesheets/products-banner.css" media="screen" rel="stylesheet" type="text/css" />


.row.postheader.full-width
  .banner.small-12.large-12.columns
    :plain
        <h1 class="article_title">We Scratch Our Own Itch</h1>


.row.our-work-header
  .small-12.large-12.large-centered.columns
    %h2 
      We love to solve problems especially ones we face on a daily basis. To date, we announced one glorious mobile application, and more to follow. Stay tuned!

.row.full-width.product
  .currrva
    .columns.large-offset-3.medium-6.large-3
      .row.small-12.icon
        %img(src="images/products/currrva_logo.png")
        %h3
          Currrva Scoreboard
        %p
          Record, visualize, and share all of your soccer video game results.
    .columns.large-6.medium-6.background.small-8.end
      %img(src="images/products/currrva_phone.png")
