---
title: Services- 966 Studios
---
.full-width.about-us-banner
  .overlay
    %h1 We solve problems - by design.
.row.about-us-header
  .small-12.large-12.large-centered.columns
    %p We research, formulate strategies, and design interfaces to meet our clients' goal. We believe every project is different and aim to give each project the attention to detail it deserves. Our clients benefit from our years of experience, and we never stop learning. Over the years we developed a process that allows us to work effeciently and collaboratively while being flexible to each clients' unique needs.

.row.about-us-body
  .small-12.large-12.large-centered.columns
    .small-12.large-6.columns
      %h3
        “EASY” STARTS WITH A GOOD HARD LOOK
      %p
        Successful projects depend on clear and shared understanding of the problem. Along with our client, we explore the problem and scope it as clearly as possible. Our external perspective can help in revealing both opportunities and risks.

      %h4
        Research
      %p
        Before solving a problem, we need to understand what we are trying to solve. We work on creating understanding along with our clients, taking into consideration the goals of the project, business context, user needs, constraints and requirements. 
      %p 
        This step is imperative for a smoot and pleasant project, and will save all stakeholders countless hours.
      %p 
        This stage can include, user interviews, content audits, analysis of existing research, usability testing, and technology requirements reviews.
      %h4
        Strategy
      %p
        When we design, we realize that our clients are subject to many constraints. With our expertise we will identify the best way to get to where we want with the available resources. 
      %p
        Because each problem is unique and our clients are different, our recommendations and documentation will always be custom to each individual client. 
      %p 
        We also take upon separate research and strategy projects as a prelude to more complex design and development.

    .small-12.large-6.columns
      %h3 AND SOLID THINKING LEADS TO SUCCESS
      %p Starting with a pencil, we sketch and continually iterate over ideas and measure design solutions against agreed goals and priorities. Frequent client communications and honest criticism are key for success.  
      %h4
        Concept
      %p
        Based on our understanding of our client's business goals and user needs, we develop high-level concepts for the structure, interaction, and visual interface.
      %p   
        There are many potential roads to success; identifying and discarding the ones that don't make sense is crucial at this stage.
      %h4
        Interface Design
      %p
        Now that we worked together in defining the conceptual framework and the look-and-feel. Now we drill into the details of the structure and interaction of your application. 

      %p 
        For interactive design, we need to work interactively (surprise, surprise!) The technology review we did earlier will guide our approach to design in code.

      %h4
        Documentation and Support
      %p
        We never hand-over projects by ticking off deliverables on a list.  We hand-over projects after we ensure that we've set up our clients for success. Our process starts with the end in mind and we make sure that our clients understand what to expect at every stage.
