---
title: Services- 966 Studios
---
.main
  .full-width.about-us-banner
    .overlay
      %h1 We solve problems - by design.
  .row.about-us-header
    .small-12.large-12.large-centered.columns
      %p Just like people, we know that every project we work with is different – yet we give each one the same enthusiastic level of care, attention to detail, and accuracy it deserves. Here’s an idea of how we work. 

  .row.about-us-body
    .small-12.large-12.large-centered.columns
      .small-12.large-6.columns
        %h3
          IT STARTS WITH A CLEAR VISION...
        %p
          To begin with the end in mind is crucial. You want a successful project that fulfills all your goals and realizes your grand vision; so do we. That’s why reaching an understanding with our clients – with you – is always our priority, and the only way to get there is through open, full communication. It works both ways: you let us in on your roadmap, and we always make sure you’re aware of exactly what to expect at every stage in development.

        %p
          We apply our years of experience to conduct research, formulate strategies, and design interfaces. However, we’re still always ready to learn and adapt to each client’s unique needs. Frequent communication with you, for honest criticism and feedback, is necessary for success: we will need your input every step of the way. After all, it’s your app.

        %h4
          Research
        %p
          Once we have a clear idea of what our goals are and where we’re headed, we start conducting our own research to answer the lingering questions that remain around the issues we’re trying to solve. We do our best to bring an outsider’s fresh eye to issues and opportunities that may have previously been overlooked. We create an understanding with you regarding project goals, user needs, overall business context, constraints and requirements, through methods like:
        %ul
          %li
            User interviews
          %li
            Content audits
          %li
            Analysis of existing research
          %li
            Usability testing
        %p 
          We take our research process very seriously, because we know that only through solid research can we make the right decisions with confidence. Putting in this effort at the onset of a project will save countless hours for everyone involved, making the process easier and the end result more effective.
        %h4
          Strategy
        %p
          Next, our all-important strategy comes in. Putting our research into practice means crafting a uniquely customized strategy to implement our solutions to each distinctive situation. To put it together, we always keep in mind any constraints that may bind you, and our plan ensures that we get the best out of whichever resources we do have access to. You’re kept well up-to-date on the strategy, which is vetted for your approval, but that’s the extent of your involvement – implementing it is left up to us, and do we delive

      .small-12.large-6.columns
        %h3
          AND SOLID THINKING LEADS TO SUCCESS
        %p  
          There are countless potential roads to success; the trick is identifying which one to follow.
        %h4
          Design
        %p
          Starting with just a pencil, we sketch out our different ideas and design solutions, continually reexamining and updating them in light of our agreed goals and priorities. In developing the high-level concepts for our app’s visual interface, structure, and interaction, we base the process on our in-depth understanding for your business goals and user needs, guided by our research and previous communication with you.
        %p   
          Of course, your involvement is always sought-after and valued – working interactively first-hand with our clients is the only way to get a truly interactive design that will deliver an authentically awesome user experience. We’ve already collaborated in pinpointing the look-and-feel of our conceptual framework. Now it's time to dig more deeply into the details of structure and interaction of the application. Only then will we be able to say we’ve given you an app that truly fulfills all your needs and delivers beyond your expectations – which we always do!
        %h4
          AU REVOIR? NOT QUITE YET
        %p
          Our projects are never simply handed over after ticking off our list of deliverables, but only after ensuring we've put you well on your way to success.  We test and re-test, polish and re-polish versions of your product until both of us – developer and client – are completely satisfied. Only then do we release your application. With our hard work, cutting-edge strategy, and top-notch design, you’re all set: from now on, success is up to you.


