---
title: Work - 966.io Work 
---
.row.our-work-header
  .small-12.large-12.large-centered.columns
    %h1
      Now what can we do for you?
    %img(src="http://placehold.it/940x366")
    %p 
      We’ve designed publications, applications, brands, and strategies across platforms and devices—and around the world. Our work delights and delivers results. Do you have a challenge? We love a challenge as much as we appreciate the clients who bring it.

.row.our-work-portfolio.small-centered
  .small-12.large-12.columns
    .small-12.large-3.columns
      %img(src="http://placehold.it/420X300")
    .small-12.large-3.columns
      %img(src="http://placehold.it/420X300")
    .small-12.large-3.columns
      %img(src="http://placehold.it/420X300")
    .small-12.large-3.columns
      %img(src="http://placehold.it/420X300")
