---
title: Work - Usman Bashir
---
.row.content
  .large-10.large-centered.columns
    %h1 Some of my recent work
    %p
      I'm still working on this page for the moment, but in the meantime, you can check out some of my work on my 
      %a{ href: "https://www.behance.net/usman" }
        Behance profile.
    %p
      %em Thanks!
